
.CFUserTextEncoding
.DS_Store
.MacOSX/
.Trash/
*history
.duostack
.fastri-index
.gitconfig
.internalstatus
.javafx_eula_accepted
.lesshst
.monk
.oxaefbkrc
.recently-used.xbel
.rnd
.viminfo
.Xauthority
.android*
.cups*
.config*
.dropbox*
.fontconfig*
.heroku*
.inkscape-etc*
.irssi
.netbeans*
.gem*
.mplayer*
.npm*
.rvm/*
.ssh*
.subversion*
.xbmc*
.vim/.netrwhist
.vim/bundle
